/.bundle
/.cache
/.gem
/.local
/.yarn
/.vegas

/log
/node_modules
/resque_web
/spec/examples.txt
/tmp
/vendor/bundle


.byebug_history
.rspec_status

# Ignore master key for decrypting credentials and more.
/config/master.key

# Don't Ignore .keep files
!**/.keep

/sample-ead/pdf
/sample-ead/xml
