/.bundle
/.cache
/.yarn
/.vegas

/log
/node_modules
/resque_web
/tmp


.byebug_history
.rspec_status

# Ignore master key for decrypting credentials and more.
/config/master.key

# Don't Ignore .keep files
!**/.keep
