/.bundle

/.docker/upload
/.docker/downloads

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/.vegas/*

.bash_history
.gem

/.idea/*

/.cache/*

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

/vendor/bundle

# rspec failure tracking
.rspec_status

/solr/arclight/data

# Ignore notes and reference directories
app/dul_files.txt
/s2i-stuff/*
/Arclight_sample_EAD/*
