include:
  - project: devops/ci-config
    file: /templates/container-flexible.gitlab-ci.yml
  - project: devops/ci-config
    file: /templates/bundler-audit.gitlab-ci.yml

stages:
  - build
  - test
  - release
  - deploy

variables:
  build_tag: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  release_tag: $CI_REGISTRY_IMAGE/$CI_ENVIRONMENT_SLUG:latest

#
# Environments
#

.development:
  environment:
    name: development
    url: https://archives-dev.lib.duke.edu
  tags:
    - development
  only:
    - develop
    - /^release-.*$/
    - /^hotfix-.*$/
    - /^aery-.*$/

.staging:
  environment:
    name: staging
    url: https://archives-test.lib.duke.edu
  tags:
    - staging
  only:
    - develop
    - tags
    - /^release-.*$/
    - /^hotfix-.*$/

.production:
  environment:
    name: production
    url: https://archives.lib.duke.edu
  tags:
    - production
  only:
    - master

#
# Jobs
#

build:
  extends: .build

#
# Test jobs
#

test:
  extends: .test

rubocop:
  extends: .test
  script:
    - make rubocop
  allow_failure: true

bundler-audit:
  tags:
    - test

#
# Release jobs
#

release_development:
  extends:
    - .release
    - .development

release_staging:
  extends:
    - .release
    - .staging

release_production:
  extends:
    - .release
    - .production

#
# Deploy jobs
#

.deploy:
  stage: deploy
  before_script:
    - docker info
  script:
    - docker pull $release_tag
    - sudo -n systemctl reload-or-restart docker-stack@dul-arclight

deploy_development:
  extends:
    - .deploy
    - .development

deploy_staging:
  extends:
    - .deploy
    - .staging

deploy_production:
  extends:
    - .deploy
    - .production
  when: manual
