/* Support right-to-left (RTL) text. If the beginning text in one of these  */
/* elements is in a RTL language, the block's contents will align right and */
/* flow right-to-left. */
p, dd {
  &[dir="auto"] {
    text-align: start;
  }
}

/* Sticky navigation for sidebar */
.sticky-nav {
  position: sticky;
  top: 0;
  @include media-breakpoint-down(sm) {
    position: static;
  }
}

/* Bootstrap popovers (esp. in context nav) causing issues at the narrowest viewports */
/* flickering on hover / preventing link clicks. So we will not show them in that case. */
.popover {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.sidebar-scroll-wrapper {
   /* viewport height minus height of the collections info box, ~170px */
  height: calc(100vh - 170px);
  overflow-y: auto;
  overflow-x: hidden;
  @include media-breakpoint-down(sm) {
    border: 1px solid #eee;
    padding: 1em;
  }
}

#skip-link {
  /* Needs to be higher than our masthead z-index */
  z-index: 101;

  /* Hide BL's skip link to the search box. Two reasons:        */
  /* 1) we have #search_field scope selector hidden in our UI;  */
  /*    it is on advanced search only.                          */
  /* 2) the search box is close enough to the top that it is    */
  /*    reasonable to navigate there via keyboard.              */
  a[href="#search_field"] {
    display: none;
  }
}

/* Borrowed from Blacklight, but generalized for use beyond #skip-link,   */
/* particularly for our links to jump back to top via keyboard nav/focus. */
/* See: */
/* https://github.com/projectblacklight/blacklight/blob/master/app/assets/stylesheets/blacklight/_header.scss#L57-L81 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  &.element-focusable:active, &.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
    display: inline-block;
  }
}

.collection-banner {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
  h1 {
    font-size: 2rem;
  }
}

#content.show-document {
  padding-top: 1rem;
}

/* Match style for chronlist-head & list-head */
/* See https://github.com/projectblacklight/arclight/blob/master/app/assets/stylesheets/arclight/modules/layout.scss#L167-L172 */
.index-head, .table-head {
  caption-side: top;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* NOTE: this seems to work for the indexes we currently have. */
/* Might not be appropriate for all ArcLight implementers. */
table.indexentries td:first-of-type {
  width: 67%;
}
