.view-type {
  /* Hide the list/compact view toggler in favor of only */
  /* maintaining one view that should be a good default  */
  display: none;
}

#sortAndPerPageBottom {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 1em;
  border-top: 1px solid $access-restriction-gray;
}

#content #documents, #content .al-grouped-results {
  margin-bottom: 1rem;

  .documentHeader {
    padding-right: 15px;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 55%;
    }
    @include media-breakpoint-up(xl) {
      width: 67%;
    }
  }
  .documentContent {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 45%;
    }
    @include media-breakpoint-up(xl) {
      width: 33%;
    }
  }

  /* Cases where there's no container info -- let the title */
  /* use up more of the horizontal real estate */
  [data-has-containers='false'] {
    .documentHeader {
      @include media-breakpoint-up(lg) {
        width: 80%;
      }
      @include media-breakpoint-up(xl) {
        width: 90%;
      }
    }
    .documentContent {
      @include media-breakpoint-up(lg) {
        width: 20%;
      }
      @include media-breakpoint-up(xl) {
        width: 10%;
      }
    }
    .al-document-container {
      display: none;
    }

  }

  .al-document-extent {
    position: relative;
    font-size: .75rem;
    margin-left: 0;
    margin-top: .125rem;
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .al-document-container {
    font-size: 0.9rem;
    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-top: .4rem;
      line-height: 1.2;
    }
  }

}

.scope-wrapper {
  width: 100%;
}

.al-document-highlight {
  padding-top: 0;
  padding-left: 0;
  font-size: inherit;
  font-style: inherit;
  margin-bottom: 0;

  em {
    background-color: inherit;
    font-weight: inherit;
  }

  mark {
    background-color: tint($dandelion, 60%);
    color: inherit;
    padding: 0 0.15em;
    margin: 0 -0.15em;
  }
}

.al-document-abstract-or-scope {
  max-width: none !important;
}

.highlight-snippets {
  font-size: 0.9rem;
  color: $gray;
  margin: 0.8em 0;
}

.al-grouped-title-bar {
  .bookmark-toggle {
    padding-right: 2px;
    svg {
      fill: $secondary;
    }
  }
}

.grouped-documents {
  h3.document-title-heading {
    font-size: 1.2rem;
  }
  .al-document-abstract-or-scope {
    max-width: none !important;
  }
  .breadcrumb-links {
    a:first-of-type {
      display: none; /* don't show the collection title */
    }
    a:first-of-type+span {
      display: none; /* hide the first separator */
    }
  }
}

/* Available Online Facet */
#facets {
  .blacklight-has_online_content_ssim {
    .card-header {
      display: none;
    }
    ul.facet-values li {
      /* Had to create a green icon rather than fill the existing  */
      /* one using CSS, as recoloring an icon that is a background */
      /* image doesn't work */
      .facet-label {
        background-image: asset-url("blacklight/online-green.svg");
        background-repeat: no-repeat;
        background-position-y: 5px;
        background-size: 20px;
        padding-left: 45px;
      }
    }
  }
  /* Replaces Blacklight hamburger icon with a filter icon, adds */
  /* "Search Filters" text in button, and removes the "LIMIT YOUR SEARCH" */
  /* heading for smaller screens */
  .navbar-toggler-icon {
    background-image: asset-url("icons/filter-solid.svg");
    height: 1rem;
  }
  button.navbar-toggler::after {
    content: "Search Filters";
    color: #555555;
    font-size: 1rem;
    vertical-align: center;
  }
  button.navbar-toggler {
    padding: .5rem 1rem .75rem .5rem;
  }
  button.navbar-toggler:hover {
    background-color: #f5f5f5;
  }
  @include media-breakpoint-down(md) {
    .facets-heading {
      display: none;
    }
  }
}


/* Override Blacklight-Hierarchy gem styles */
/* ======================================== */
.facet-hierarchy {
  .h-leaf {
    font-size: 0.9rem;
  }
  .toggle-handle {
    padding: 2px 5px;
    margin-right: 0.4rem;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    background-color: $gray-lighter;
    color: #333;
  }
}
