.view-type {
  /* Hide the list/compact view toggler in favor of only */
  /* maintaining one view that should be a good default  */
  display: none;
}


#content #documents .al-document-extent,
#content .al-grouped-results .al-document-extent {
  position: relative;
  font-size: .75rem;
  margin-left: 0;
  margin-top: .125rem;
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.scope-wrapper {
  width: 100%;
}

.al-document-highlight {
  padding-top: 0;
  padding-left: 0;
  font-size: inherit;
  font-style: inherit;
  margin-bottom: 0;

  em {
    background-color: inherit;
    font-weight: inherit;
  }

  mark {
    background-color: tint($dandelion, 60%);
    color: inherit;
    padding: 0 0.15em;
    margin: 0 -0.15em;
  }
}

.al-document-abstract-or-scope {
  max-width: none !important;
}

.highlight-snippets {
  font-size: 0.9rem;
  color: $gray;
  margin: 0.8em 0;
}

.al-grouped-title-bar {
  .bookmark-toggle {
    padding-right: 2px;
    svg {
      fill: $secondary;
    }
  }
}

.grouped-documents {
  h3.document-title-heading {
    font-size: 1.2rem;
  }
  .al-document-abstract-or-scope {
    max-width: none !important;
  }
  .al-document-container {
    display: none;
  }
  .breadcrumb-links {
    a:first-of-type {
      display: none; /* don't show the collection title */
    }
    a:first-of-type+span {
      display: none; /* hide the first separator */
    }
  }
}

/* Available Online Facet */
#facets {
  .blacklight-has_online_content_ssim {
    .card-header {
      display: none;
    }
    ul.facet-values li {
      /* Had to create a green icon rather than fill the existing  */
      /* one using CSS, as recoloring an icon that is a background */
      /* image doesn't work */
      .facet-label {
        background-image: asset-url("blacklight/online-green.svg");
        background-repeat: no-repeat;
        background-position-y: 5px;
        background-size: 20px;
        padding-left: 45px;
      }
    }
  }
}

/* Override Blacklight-Hierarchy gem styles */
/* ======================================== */
.facet-hierarchy {
  .h-leaf {
    font-size: 0.9rem;
  }
  .toggle-handle {
    padding: 2px 5px;
    margin-right: 0.4rem;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    background-color: $gray-lighter;
    color: #333;
  }
}

/* Range slider */

// changing the graphs seems to require tapping into the JS functions for chart_js
// this plugin looks potentially promising: https://github.com/mcldev/ChartJS-Sass/

// #facet-date_range_sim {
//   .slider-handle {
//     background-color: $brand-primary;
//     background-image: -webkit-gradient(linear, left top, left bottom, from($brand-secondary), to($brand-primary));
//     background-image: linear-gradient(to bottom, $brand-secondary, $brand-primary);
//   }

//   .slider_js .slider-selection {
//     background: $shackleford;
//   }
// }
