<%= link_to ddr_dao_search_result_link(document), target: '_blank' do %>
  <strong>View <%= document.ddr_dao_count %> items</strong>
<% end %> <span class="text-muted">(Duke Digital Repository)</span>
