<%= link_to ['https://repository.duke.edu/catalog?f%5Baspace_id_ssi%5D%5B%5D=',document.reference.sub('aspace_', '')].join, target: '_blank' do %>
  <strong>View <%= document.ddr_dao_count %> items</strong>
<% end %> <span class="text-muted">(Duke Digital Repository)</span>
