<div class="col-md-12 banner-wrapper banner-online d-flex flex-row">
  <div class="banner-part banner-heading d-lg-block d-xl-flex">
    <%= blacklight_icon :online %>
    <span class="banner-heading-text d-none d-xl-block">Online Access</span>
  </div>
  <div class="banner-part banner-shadow"></div>
  <div class="banner-part banner-message flex-grow-1 d-flex flex-column">
    <div class="mb-0 banner-message-text">
      <%= t('dul_arclight.digital_objects.online_banner.message_text') %><br/>
      <div class="dc-links d-flex flex-wrap">
        <% document.ddr_collection_objects.each do |obj| %>
          <%= link_to t('dul_arclight.digital_objects.online_banner.dc_html').html_safe,
                obj.href,
                class: 'banner-link banner-link-ddr',
                title: [obj.label, 'Duke Digital Repository'].join(' - '),
                data: { toggle: 'tooltip' } %><br/>
        <% end %>
        
        <% if online_access_items?(document) %>
          <%= link_to t('dul_arclight.digital_objects.online_banner.filter_online_html').html_safe,
              search_action_path(f: {
                  collection_sim: [document.collection_name],
                  has_online_content_ssim: ["online"] }),
                  class: 'banner-link banner-link-filter' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
