/* ====================== */
/* GLOBAL      */
/* ====================== */
body {
  background-color: #fff;
}

a {
  color: var(--color-teal-400);
  text-decoration: underline;

  &:hover {
    color: var(--color-teal-500);
    text-decoration-thickness: 2px;
  }
}

/* ====================== */
/* BUTTONS     */
/* ====================== */

.btn:focus,
.btn-group > .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400);
  border-radius: 2px !important;
}

.btn {
  outline: 0;
  display: inline-block;
  border: none;
  font-weight: 700;
  font-size: 1em;
  font-family: var(--font-base-family);
  border-radius: var(--radius-default);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-teal-400);
  border-color: var(--color-teal-400);
  &:hover,
  &:active,
  &:focus {
    border-color: var(--color-teal-400);
    background-color: var(--color-teal-400);
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
  }
}

.btn-secondary {
  color: var(--color-blue-400);
  font-weight: bold;
  background-color: var(--color-neutral-100);
  border-color: var(--color-neutral-100);
  &:hover {
    color: var(--color-blue-400);
    background-color: var(--color-neutral-100);
    border-color: var(--color-neutral-100);
  }
  &:active {
    color: var(--color-blue-400);
    background-color: var(--color-neutral-100);
    border-color: var(--color-neutral-100);
  }
  &:focus {
    background-color: var(--color-neutral-100);
    color: var(--color-blue-400);
  }
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: var(--color-blue-400);
  background-color: var(--color-neutral-100);
  border-color: var(--color-neutral-100);
}

.btn-success {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background-color: var(--color-green-500);
  border-color: var(--color-green-500);
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
  }
}

.btn-danger {
  color: #fff;
  background-color: var(--color-pink-500);
  border-color: var(--color-pink-500);
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
  }
}

.btn-outline-request {
  border: 1px solid var(--color-neutral-100);
  color: var(--color-blue-400);
}

.m-search-btn {
  color: var(--color-neutral-500);
  background-color: var(--color-maize-400);
  border-color: var(--color-maize-400);
  &:focus, &:hover, &:active {
    outline: 0;
    box-shadow: 0 0 0 2px #fff,
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
    color: var(--color-neutral-500);
    background-color: var(--color-maize-400);
  }
}

.btn-link {
  color: var(--color-teal-400);
  background-color: transparent;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
  }
}

.btn-outline-secondary:hover {
  color: var(--color-neutral-500);
  background-color: var(--color-neutral-100);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: transparent;
  border: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400);
  border-radius: 2px !important;
}

.homepage form .search-btn {
  color: #000;
  background-color: var(--color-maize-400);
  border-color: var(--color-maize-400);

  &:hover {
    color: #000;
    background-color: var(--color-maize-400);
    border-color: var(--color-maize-400);
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
    color: #000;
    background-color: var(--color-maize-400);
    border-color: var(--color-maize-400);
  }
}

.al-restricted-component-icon svg {
  color: var(--color-orange-500);
}

/* ====================== */
/* TYPOGRAPHY     */
/* ====================== */

.responsiveTruncate{
  font-size: 1rem;
}

/* =============++========= */
/* Prose/Text Container    */
/* ====================== */

.prose-container {
  padding: 4rem 0;

  h1 {
    max-width: 40ch;
    font-size: 2.5rem;
  }
  h2 {
    padding-top:1rem;
  }
}