#within_collection:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400);
  border-radius: 2px !important;
}

nav#about-collection-nav {
  padding-left: 0.25em;
}

#documents {
  margin-left: 3rem;
}

.indented {

  margin-top: 1rem;
  margin-bottom: 1rem;

  // border-left: 1px solid var(--color-indigo-100);

  // 2rem is respectable, but 4rem aligns better
  article {
    margin-left: 4rem;
  }

  .indented {
    margin-left: 4rem;
  }
}

#documents {
  button[aria-expanded="true"] {
    i::before {
      // // angle down
      // content: "ï„º" !important;
      // minus circle
      content: "\f056" !important;
    }
  }
}

.child-components article {

  &:nth-of-type(odd) {
    background: #fff;
  }

  margin-top: 1rem; 
  margin-bottom: 1rem;
  
  padding-right: 1rem;
  // border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
