.contact-wrapper {
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 10000;
  margin-bottom: -6px;

  &:hover {
    margin-bottom: -3px;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
  }

  .btn {
    text-decoration: none;
    font-weight: 700;
    padding: var(--space-small) var(--space-medium);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    font-family: var(--font-base-family);
    border-radius: var(--radius-default);
    border: none;
  }

  @include media-breakpoint-only(xs) {
    display: none;
  }
}
