/* ====================== */
/* UTILITIES      */
/* ====================== */

.full-width {
  padding: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.needs-changed {
  border: 2px solid red;
}

.display-none {
  display: none;
}

.btn-compact {
  font-size: 0.875rem;
  padding: 6px 10px;
}

span.twitter-typeahead input[name="q"] {
  background: #fff !important;
}
