<div class="prose prose-container">
  <h1>Finding Aids Help</h1>
  <h2>Organization of the Site</h2>
  <p>You can search for finding aids (also called collection guides) from many different archives or libraries -- referred to as Repositories -- at once, or restrict your search to one Repository.</p>

  <h2>Accessing the Archival Collections</h2>
  <p> While some of the material in some collections has been digitized (marked with <svg height="24" width="24" viewBox="0 0 640 512" aria-label="Online" role="img">
    <title>Online</title>
    <path d="M608 0H160a32 32 0 0 0-32 32v96h160V64h192v320h128a32 32 0 0 0 32-32V32a32 32 0 0 0-32-32zM232 103a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9V73a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm352 208a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9v-30a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm0-104a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9v-30a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm0-104a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9V73a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm-168 57H32a32 32 0 0 0-32 32v288a32 32 0 0 0 32 32h384a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32zM96 224a32 32 0 1 1-32 32 32 32 0 0 1 32-32zm288 224H64v-32l64-64 32 32 128-128 96 96z"></path>
  </svg>) or can be digitized, the vast majority is available only in a physical format in person. Access varies from collection to collection; information can be found at the bottom of every collection page under the <strong>Using These Materials</strong> heading.</p>


  <h2>How to Search</h2>
  <p>Unlike the previous finding aids site, it is possible to focus or expand your search to many collections in many repositories.
  <ul>
    <li>Within all collections in all repositories</li>
    <li>Within all collections in one repository</li>
    <li>Within one collection</li>
  </ul>
  </p>
  <p>If you want to search only materials available in a particular repository, choose it from <a href="https://findingaids.lib.umich.edu/repositories">this list</a> and searches in the website header will be restricted to their collections only. This is also true if you are on a collection page and choose to search All Collections -- this will be all collections in the same repository as the current collection you are viewing.</p>

  <h3>Keyword Searching</h3>
  <p>The most common type of search, a keyword search finds collections with all the words you enter anywhere within the finding aid.</p>
  <dl class="record">
    <dt>Using a single term</dt>
    <dd><code>kelsey</code></dd>
    <dt>Using a number of terms</dt>
    <dd><code>francis kelsey</code></dd>
    <dt>Using a phrase (a number of terms in quotation marks) to get an exact match</dt>
    <dd><code>"kelsey museum"</code></dd>
  </dl>
  <h2>Broadening Your Results</h2>
  <p>You can search more collections or repositories, or you can try using wildcards to find different forms of a word you are searching.</p>

  <h3>Wildcard Searching</h3>

  <p>Use wildcards in your search to help retrieve a greater range of results.</p>
  <dl class="record">
    <dt><code>*</code></dt>
    <dd>
      <p>The asterisk matches <strong>zero or more</strong> non-whitespace characters.</p>
      <p><b>Example: </b> The search term <code>citzen*</code> may return pages containing the terms <em>citizen</em>, <em>citizens</em>, or <em>citizenship</em>.</p>
    </dd>
    <dt><code>?</code></dt>
    <dd>
      <p>The question mark wildcard character matches <strong>one</strong> non-whitespace character.</p>
      <p><b>Example: </b> The search term <code>w?tch</code> may return pages containing the terms <em>watch</em>, <em>watches</em>, or <em>witch</em>.</p>
    </dd>
  </dl>
  <p>You can combine wildcards with another term, like <code>foreign citizen*</code>.</p>

  <h2>Narrowing Your Results</h2>
  <p>With so many collections, it is easy to get too many results. You can try applying facets, creating complex searches using Boolean operators in the keyword box, or using the Advanced Search form.</p>
  <h3>Applying Facets</h3>
  <p>Facets are lists of descriptive terms that show up in the collection descriptions. These can be subject terms or place and personal names. Facets appear in the left-hand column of search result pages under the <strong>Limit Your Search</strong> heading. You can restrict your results to one repository, or find the subject heading that precisely matches the topic your are interested in.  You can also use facets to restrict your results to a particular date range, or even to see which collections have digital material online.</p>
  <h3>Boolean Searching</h3>
  <p>You have the option to use Boolean operators in your search to narrow down concepts that can be too broad with simple keyword searching. Boolean operators must be capitalized to work correctly -- shout them out!</p>
  <dl class="record">
    <dt>AND</dt>
    <dd>
      <p>Requires both terms be present.</p>
      <p><b>Example: </b> <code>kelsey AND museum</code> - will return pages that include the terms kelsey and museum. If a page contains one but not the other, it will not appear in your results.</p>
    </dd>
    <dt>OR</dt>
    <dd>
      <p>Requires one or both terms be present.</p>
      <p><b>Example: </b> <code>gallery OR museum</code> - will return pages that include the terms gallery or military. If a page contains one but not the other, it will still appear in your results.</p>
    </dd>
    <dt>NOT</dt>
    <dd>
      <p>Requires one term be present and the other not be.</p>
      <p><b>Example: </b> <code>kelsey NOT museum</code> -- will return pages that include the term kelsey but not the term museum. kelsey -museum is the same as kelsey NOT museum.</p>
    </dd>
  </dl>

  <p>These operators may be used in conjunction with each other. They can also be used with phrases in quotes (example: <code>"small classes" NOT "large classes"</code>).</p>

  <h3>Advanced Searching</h3>
  <p>Clicking the <a data-toggle="modal" data-target="#advanced-search-modal" href="#">Advanced Search</a> link will bring up a form that allows your to target your search to a particular field. It will also let you search All Collections or only the collection you are currently viewing (this option is not active if you are not on a collection page). Searching for <code>baker</code> in a <strong>Name</strong> field will give fewer results than a keyword search for "baker" anywhere.  Similarly, a search for <code>Virginia</code> in the <strong>Place</strong> field will eliminate results for people named "Virginia".</p>
</div>


