// import google font
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

//== set new max-width on container for wide displays

@include media-breakpoint-up(xl) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1860px;
  }
}


//== Apply 'DUL look and feel'

body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  background-color: $gray-lighter;
}

a {
  color: $primary-link-color;
  &:hover, &:active, &:focus {
    color: $link-hover-color;
  }
}

#main-container {
  background-color: white;
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover, &:active, &:focus {
    border-color: shade($brand-primary, 20%);
    background-color: shade($brand-primary, 20%);
  }
}

.btn-outline-primary {
  background-color: white;
  border-color: $brand-primary;
  &:hover, &:active, &:focus {
    border-color: shade($brand-primary, 20%);
    background-color: $brand-primary;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.btn-success {
  background-color: $brand-success;
  border-color: $brand-success;
  &:hover, &:active, &:focus {
    border-color: shade($brand-success, 20%);
    background-color: shade($brand-success, 20%);
  }
}

.btn-danger {
  background-color: $brand-danger;
  border-color: $brand-danger;
  &:hover, &:active, &:focus {
    border-color: shade($brand-danger, 20%);
    background-color: shade($brand-danger, 20%);
  }
}

.btn-warning {
  background-color: $brand-warning;
  border-color: $brand-warning;
  &:hover, &:active, &:focus {
    border-color: shade($brand-warning, 20%);
    background-color: shade($brand-warning, 20%);
  }
}

.btn-info {
  background-color: $brand-info;
  border-color: $brand-info;
  &:hover, &:active, &:focus {
    border-color: shade($brand-info, 20%);
    background-color: shade($brand-info, 20%);
  }
}

.tooltip-inner {
    max-width: 300px;
}


.catalog_startOverLink {
  margin-right: 1rem;
}

.applied-filter .constraint-value:hover,
.applied-filter .constraint-value:active {
  background-color: white;
  color: $gray;
}



/* search breadcrumbs */

.al-search-breadcrumb,
.al-show-breadcrumb {
  padding-top: 1rem;
}

.al-search-breadcrumb {
  font-size: 16px;
  color: $gray-light;

  span {
    color: $gray-light-more;
    padding-right: .25rem;
    padding-left: .25rem;
  }

}

.al-show-breadcrumb {
  padding-top: 0;
  width: 100%;

  ol.breadcrumb {
    display: block;
    li {
      float: left;
      &::after {
        content: '»';
        padding-right: .25rem;
        padding-left: .25rem;
        color: $gray-light-more;
      }

      &.breadcrumb-home-link::after  {
        padding-left: 0;
      }

    }
  }

  .breadcrumb-item {
    .media-body {
      display: none;
    }
    .col {
      padding: 0;
    }
  }

  /* end search breadcrumbs */

  h1 {
    font-size: 14px;
    &.media .col {
      padding-top: .15rem;
    }
  }
}

.al-show-actions-box {
  position: absolute;
  right: 0;
  background-color: white;
  border: none;
  height: unset;
}


/* item styles */

#document.blacklight-collection {

  .title-action-wrapper {
    margin-top: .75rem;
    padding-top: 0;
    border: none;
  }

  .collection-name-wrapper,
  .breadcrumb {
    display: none;
  }
  i.fa-archive {
    display: none;
  }
  h1 {
    padding-top: 0;
    border-top: none;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    display: block;
    @include media-breakpoint-down(md) {
      font-size: 1.75rem;
    }
  }
}

#document.blacklight-series .collection-banner,
#document.blacklight-subseries .collection-banner,
#document.blacklight-item .collection-banner,
#document.blacklight-file .collection-banner {
  i.fas {
    display: none;
  }
}

.title-action-wrapper {
  margin-top: 0.75rem;

  border-top: 1px dotted shade($gray-lighter, 5%);
  padding-top: .75rem;
  margin-top: 1.5rem;
}


.collection-banner {
  border-bottom: none;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      font-size: 1.75rem;
    }

  }
}

.al-show-sub-heading {
  font-size: 1.5rem;
  text-transform: unset;
  color: $gray;
  border-top: 1px dotted shade($gray-lighter, 5%);
  padding-top: 1.5rem;
  margin-top: 1rem;

  #summary & {
    border-top: 3px solid lighten($gray-light, 5%);
  }

}

.al-show-sub-heading + dl > dt {
  text-transform: uppercase;
  padding-top: .625rem;
  padding-bottom: .125rem;
  margin-top: 0;
}

#document {
  padding-left: 15px;
  padding-right: 15px;
}

#document dl {
  margin-bottom: 2rem;
}

#restrictions-preview dl {
  margin-bottom: 0;
}

.collection-name-wrapper {
  margin-top: .75rem;
  display: block;
  position: relative;
  &:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 1rem;
    height: 100%;
    border-right: 1.5px solid lighten($gray-light-more, 10%);
    height: calc(100% - 18px);
    bottom: -1.4rem;
  }
  a {
    text-decoration: none;
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.9rem;

    i.fas {
      display: block;
      position: absolute;
    }
    .collection-name {
      display: block;
      margin-left: 2.25rem;
    }
  }
}

/* item breadcrumbs */

#document .breadcrumb {
  &:before {
    content: ' ';
    display: block;
    border-bottom: 1.5px solid lighten($gray-light-more, 10%);
    width: .48rem;
    left: 0;
    top: -.55rem;
    position: relative;
  }
  padding: 0;
  margin-top: .5rem;
  margin-left: .9rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: white;
  border-radius: 0;

  .breadcrumb-item {
    flex: unset;
    color: $gray-light;
  }

  .breadcrumb-item::before {
    padding-right: .25rem;
    color: $gray-light-more;
    content: '»';
  }

  .breadcrumb-home-link::before {
    content: '';
  }

}

/* item metadata */

#document dl.al-metadata-section {
  background-color: $facet-grey;
  border-top: 1px dotted $gray-light-more;
  padding: 1rem;
}

#access {

  h2 {
    border-top: 1px solid shade($gray-lighter, 3);
    padding-top: 1rem;
  }

  hr {
    display: none;
  }
}


/* sidebar styles */

@include media-breakpoint-down(sm) {
  ul.al-context-nav-parent {
    padding-left: 33px;
  }
  #collection-context > .context-navigator {
    padding-left: 0;
  }
}



#sidebar {
  z-index: 20;
  @include media-breakpoint-down(md) {
    z-index: 1200;
  }
  background: white;
  padding-top: 10px;
  box-shadow: 1px 0 1px -1px rgba(0, 0, 0, 0.06),
              2px 0 2px -2px rgba(0, 0, 0, 0.06),
              4px 0 4px -4px rgba(0, 0, 0, 0.06),
              8px 0 8px -8px rgba(0, 0, 0, 0.06),
              16px 0 16px -16px rgba(0, 0, 0, 0.06);

  h2 {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    .fas {
      margin-right: 0.2rem;
    }
    /* Remove the ArcLight-core applied tab heading for the context nav */
    &.sr-only {
      display: none;
    }
  }
}

#context {

  @include media-breakpoint-down(sm) {
    padding-top: 0 !important;
  }

  .actions-wrapper {
    margin-right: 0 !important;

    .al-show-actions {
      background: #f5f5f5;
      margin: -15px -15px 15px -15px !important;
      padding: 15px;
      padding-top: 2rem;
      border-bottom: 1px solid $gray-light-more;
      padding-bottom: 25px;

      @include media-breakpoint-down(lg) {
        margin: -15px -10px 15px -10px !important;
        padding: 25px 10px 25px 10px !important;
      }
    }

    .sidebar-collection-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 100%;
    }

    .btn.al-show-actions-collection-info {
      background-color: none;
    }

    .collection-info-table {
      td:first-of-type {
        font-weight: bold;
        a {
          font-weight: normal;
        }
      }
      td:nth-of-type(2) {
        text-align: right;
      }
      .al-online-content-icon {
        padding-right: 0.2rem;
      }
      @include media-breakpoint-down(lg) {
        font-size: 15px;
      }
    }
  }


  .nav-link {
    padding: .25rem 0 .25rem 0;
    font-weight: 700;
    color: $gray;
    display: inline-block;

    &:hover {
      color: $primary-link-color;
      text-decoration: underline;
    }
  }

  .tab-content {

    h2 {
      font-size: 24px;
    }

  }

  /* add some padding for circular expand/contract buttons */
  li.al-collection-context {
    .col.col-no-left-padding.d-flex.flex-wrap {
      padding-left: 4px !important;
    }
  }

  li.al-hierarchy-highlight {

    .al-toggle-children-container {
      background-color: $facet-grey;
      padding-top: .2rem;
      padding-bottom: .2rem;
      margin-top: -.2rem;
      margin-bottom: -.2rem;
      z-index: 10;
    }

    .al-collection-context-collapsible.show .al-toggle-children-container {
      background-color: unset !important;
      padding: 0 .4rem 0 0 !important;
      margin-left: -1.4rem;
      margin-top: -.2rem;
      margin-bottom: -.4rem;
    }

    .col {
      background-color: $facet-grey;
      border-right: 5px solid $primary-link-color;
      padding-top: .2rem;
      padding-bottom: .2rem;
      margin-top: -.2rem;
      margin-bottom: -.2rem;
      border-left: 1.45rem solid #f5f5f5;
      margin-left: -1.45rem !important;
      margin-right: .85rem !important;

      .col {
        background-color: unset;
        padding: 0;
        border-right: none;
        border-left: none;
        margin-left: -.4rem !important;
      }
    }
  }

}

.al-toggle-children-container {
  margin-left: -1rem;
  opacity: 1;

  a.al-toggle-view-children {
    opacity: 1;
    background-color: $primary-link-color-inverted;
    filter: invert(100%);
    border-radius: 50%;
    display: inline-block;
  }
}

.al-toggle-view-children {
  width: 1rem;
  height: 1rem;
  margin-top: 4px;
}

.al-collection-context-collapsible .al-toggle-view-children {
  margin-top: 0;
}

.al-number-of-children-badge {
  background-color: unset;
  color: $gray;
  font-size: 16px !important;
  font-weight: normal;
  margin-top: -5px;
  padding-left: 0;
  padding-right: 0;

  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}


/* icon alignment */
.bookmark-toggle {
  padding-left: 0.3rem;
}

.blacklight-icons {
  position: relative;
  top: -1px;
}

label.toggle-bookmark > span:nth-child(2) {
  margin-left: 0.1rem;
}

.al-online-content-icon {
  position: relative;
  top: -1.5px;
  padding-left: 0.4rem;
  padding-right: 0.1rem;
  svg {
    fill: $green;
  }
}

.al-restricted-component-icon {
  svg {
    color: $dandelion;
  }
}

.al-hierarchy-highlight > .documentHeader {
  margin-right: -1.9rem;
  background-color: unset;
}



#facets {

  .facet-limit-active {
    border-color: $brand-success !important;
  }

  .facet-limit-active .card-header {
    background-color: $brand-success !important;
  }

  .facet-values li .selected {
    color: $brand-success !important;
  }

  .facet-limit-active .collapse-toggle {
    color: white;
  }

}

#content {

  padding-bottom: 1rem;
  /* actions */

  .show-action-wrapper {
    float: right;
    padding-top: .85rem;
    margin-top: 0.75rem;
    border-top: 1px dotted shade($gray-lighter, 5%);
  }

  .actions-wrapper {
    padding: .5rem .75rem .5rem .75rem;
    margin-left: 1rem;
    background: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.06);

    @include media-breakpoint-down(md) {
      padding: .25rem .5rem .25rem .5rem;
    }

    .bookmark-toggle {
      padding-right: 0 !important;
      padding-left: 0 !important;
      .blacklight-icons svg {
        fill: $gray-light;
      }
    }
  }

  #document.blacklight-collection {
    .show-action-wrapper {
      padding-top: 0;
      border-top: none;
    }
  }


  /* collection results */

  .constraints-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

      #appliedParams {
        margin-bottom: 0 !important;
        flex: 1 1 auto;
        padding: 1rem 1rem .5rem 1rem;
        background-color: $facet-grey;

        .btn {
          padding: .25rem .5rem;
          font-size: 14px;
          margin-bottom: .5rem;
        }

        .btn-outline-secondary {
          background-color: white;
        }

        .btn.remove:hover {
          color: $brand-danger;
        }

        .catalog_startOverLink {
          @include media-breakpoint-down(sm) {
            display: block;
            width: max-content;
          }
        }

        .constraint-value {
          @include media-breakpoint-down(lg) {
            max-width: 20rem;
          }
        }

        .constraints-label {
          position: relative;
          bottom: 3px;
          margin-right: 1rem;
          @include media-breakpoint-down(sm);
            margin-bottom: .5rem;
        }
      }
  }

  #sortAndPerPage {
    .btn {
      padding: .25rem .5rem;
      font-size: 14px;
    }
  }

  .al-grouped-results .al-grouped-title-bar {
    background-color: $facet-grey;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: .25rem;
  }

  .al-grouped-results .grouped-documents {
    margin-bottom: 1.5rem;
  }

  .documents-list article.document,
  .documents-online_contents article.document {
    padding-bottom: 1.5rem;
  }


  @include media-breakpoint-up(lg) {

    #sortAndPerPage,
    #sortAndPerPageBottom,
    .documentHeader,
    .al-grouped-results,
    #results-nav-and-constraints {
      padding-left: 15px;
    }

    .pagination {
      padding-left: .5rem;
    }

    .breadcrumb-links .ml-2 {
      margin-left: 1rem !important;
    }

  }

  .al-search-result-index-article {
    margin-left: 0;
    .documentHeader {
      padding-left: 0;
    }
  }

  .breadcrumb-links {
    .col {
      padding-left: 0;
    }
    .media-body {
      display: none;
    }
  }

  #documents,
  .al-grouped-results {

    .grouped-documents {
      .documentHeader {
        margin-left: 0;
      }
    }

    .breadcrumb-links a {
      border-bottom: 1px dotted $gray-light;
      &:hover {
        border-bottom: 1px solid $primary-link-color;
      }
    }

  }


  .collection-overview-wrapper {
    .access-preview-snippet {
      float: right;
      width: 33%;
      margin-left: 2rem;
      margin-bottom: 2rem;
      margin-top: 3px;
      background: $facet-grey;
      padding: 0 1rem 1rem 1rem;
      border-left: 3px solid $gray-light-more;

      .al-show-sub-heading {
        border-top: none;
        margin-top: 0;
      }

      @include media-breakpoint-down(lg) {
        width: 100%;
        border-left: none;
      }
    }
  }

  #using-these-materials {
    dl {
      margin-bottom: 1rem;
    }
    dl > dt {
      font-size: 0.875rem;
    }

    hr {
      display: none;
    }
  }

  ul.using-resources {
    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    a:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f058';
      margin-right: 0.35rem;
      display: inline-block;
      text-decoration: none;
    }
  }

  #component-restrictions {
    background: $access-restriction-warning;
    padding: 1rem;
    border-top: 1px solid $access-restriction-gray;
    margin-bottom: 2rem;

    dt {
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f071';
        margin-right: 0.35rem;
      }
    }

  }

  .al-in-person-repository-name {
    .img-wrapper {
      float: right;
      background: $gray-lighter;
      padding: 5px;
      margin: 0 0 1rem 1rem;

      @include media-breakpoint-down(md) {
        float: none;
        width: 100%;
        margin: 0 0 1rem 0;
        text-align: center;
      }

    }
    img {

    }
  }

  dd.blacklight-repository_ssm {
    .al-in-person-repository-location {
      margin-bottom: 2rem;
   }
  }
}


.responsiveTruncatorToggle {

  display: block;
  text-align: right;
  &:hover {
    text-decoration: none !important;
  }

  &::before {
    content: '...';
    display: block;
    position: relative;
    top: -1.5rem;
    color: $facet-grey;
    margin-right: 0;
    background: linear-gradient(
      to left,
      white, rgba(255,255,255,.1)
    );
  }

  .btn-wrapper {
  /* treat these like buttons */
    border-width: 2px;
    transition-duration: 0.1s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-top: -1.75rem;

    &:hover,
    &:hover,
    &:focus {
      box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.1);
      color: $gray-dark;
      text-decoration: none;
    }
  }

  &.showing-more {
    margin-top: 1rem;
    .btn-wrapper {
      margin-top: -.75rem;
    }

    &::before {
      content: '';
      display: none;
    }

  }
}


/* repository cards */

.blacklight-repositories-index {
  .card-deck {
    margin-bottom: 1rem;
  }
}

.al-repository {

  background-color: $facet-grey;
  border-radius: .25rem;

  .al-repository-information {
    .al-repository-contact,
    .al-repository-extra-collection-count {
      font-weight: 400;
    }
  }

  .collection-count-wrapper {
    margin: 1rem 0 1rem 0;

    .btn {
      width: 100%;
    }
  }

  .card-img {
    overflow: hidden;
    flex: 1;
    align-self: center;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    .img-wrapper {
      height: 10rem;
      align-self: center;
      display: flex;
      background-color: $gray-light;
    }

  }

  .card-footer {
    line-height: 1.2;
    .al-repository-street-address {
      margin-bottom: 1rem;
    }
  }

}

.card-text,
.al-grouped-title-bar {
  .responsiveTruncatorToggle {
    &::before {
      background: linear-gradient(
        to left,
        $facet-grey, rgba(255,255,255,.1)
      );
    }
  }
}

.child-components article:nth-of-type(odd) {
  .responsiveTruncatorToggle {
    &::before {
      background: linear-gradient(
        to left,
        #f7f7f7, rgba(255,255,255,.1)
      );
    }
  }
}





@include media-breakpoint-up(lg) {

  .card-horizontal {
    flex-direction: row;
    max-height: 14rem;

    .card-img {
      display: none;
    }

    .card-body {
      flex: 2;

      .card-text.expanded {
        overflow-y: scroll;
        max-height: 70%;
        padding-right: .5rem;
      }

    }

    .card-footer {
      padding: 1.25rem;
      background-color: rgba(0, 0, 0, 0.03);
      border-left: 1px solid rgba(0, 0, 0, 0.125);
      border-top: unset;
    }

  }

}

@include media-breakpoint-up(xl) {

  .card-horizontal {

    .card-img {
      display: flex;
      overflow: hidden;
      flex: 1;
      align-self: center;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      .img-wrapper {
        height: 14rem;
        align-self: center;
        display: flex;
        background-color: $gray-light;
        width: 100%;
      }

    }

  }

}


.page-link {
  color: $primary-link-color;
}

.page-item.active .page-link {
  background-color: $primary-link-color;
  border-color: $primary-link-color;
}


/* repository index */

body.blacklight-repositories-index {

  .card-img-top {
    max-height: 10rem;
    overflow: hidden;
  }

  @include media-breakpoint-up(sm) {
    .card-deck .card {
      flex: unset;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 15px
    }
  }

  @include media-breakpoint-up(lg) {
    .card-img-top {
      max-height: 14rem;
      overflow: hidden;
    }

    .card-deck .card {
      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
}

/* modals */

h1.modal-title {
  font-size: 2rem;
}

#advanced-search-modal {
  .within-collection-dropdown {
    width: auto !important;
  }
}


/* Contact Us link */

.contact-wrapper {
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 10000;
    margin-bottom: -6px;

    &:hover {
      margin-bottom: -3px;
    }

    .btn {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: .125em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: .2rem .2rem 0 0;
      border: 3px solid white;
      padding: .5rem .7rem .7rem .7rem;
    }

    @include media-breakpoint-only(xs) {
      display: none;
    }
}
