<%# Placeholder code for DUL megamenu %>
<%# to overcome inconsistancy w/ loading external DUL megamenu JS %>

<div class="dul-masthead-bar" id="dul-masthead-filler">
  <div id="dul-masthead-dul-megamenu" style="max-width: 1820px;">
    <div class="dul-masthead-no-touch">
      <div class="dul-masthead-region-logo">
        <a id="dul-logo-link" onclick="ga('send', 'event', { eventCategory: 'Header', eventAction: 'Branding', eventLabel: 'Library Logo'});" href="//library.duke.edu"><img src="//library.duke.edu/masthead/img/logo.png" alt="Duke University Libraries" id="dul-masthead-logo"></a>
        <button id="dul-masthead-nav-trigger-btn" aria-haspopup="true" aria-expanded="false">☰ Menu</button>
        <ul hidden="" role="menu" class="dul-masthead-mobile-menu" id="dul-masthead-mobile-menu">
          <li><a role="menuitem" href="https://library.duke.edu/find">Search &amp; Find</a></li>
          <li><a role="menuitem" href="https://library.duke.edu/using">Using the Library</a></li>
          <li><a role="menuitem" href="https://library.duke.edu/research">Research Support</a></li>
          <li><a role="menuitem" href="https://library.duke.edu/course-support">Course Support</a></li>
          <li><a role="menuitem" href="https://library.duke.edu/libraries">Libraries</a></li>
          <li><a role="menuitem" href="https://library.duke.edu/about">About</a></li>
        </ul>
      </div>
      <div class="dul-masthead-region-scoped-search">
        <form class="dul-masthead-mastSearch" action="//library.duke.edu/find/all" onsubmit="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Top Links', eventLabel: 'Search Submit'});">
            <!-- Generic reusable hidden attributes -->
            <input type="hidden" name="" value="" id="dul-masthead-hiddenfilter1" class="dul-masthead-hiddenMastFilter">
            <input type="hidden" name="" value="" id="dul-masthead-hiddenfilter2" class="dul-masthead-hiddenMastFilter">
            <input type="hidden" name="" value="" id="dul-masthead-hiddenfilter3" class="dul-masthead-hiddenMastFilter">
            <div>
              <input class="dul-masthead-mastSearchBox" placeholder="Search articles, books, our website &amp; more" name="Ntt" type="text" aria-label="Site Search">
              <div class="dul-masthead-btn-group">
                <button class="dul-masthead-btn" aria-label="Search" type="submit" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Top Links', eventLabel: 'Search Button'});"></button>
              </div>
            </div>
        </form>
      </div>
      <div class="dul-masthead-region-myaccount"><a id="dul-masthead-myAccounts" href="//library.duke.edu/my-accounts" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Top Links', eventLabel: 'My Accounts'});">My Accounts</a><a href="//library.duke.edu/research/ask" id="dul-masthead-ask-librarian-link" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Top Links', eventLabel: 'Ask a Librarian'});">Ask a Librarian</a><a id="dul-masthead-account-hours" href="//library.duke.edu/about/hours" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Top Links', eventLabel: 'Library Hours'});">Library Hours</a><a id="dul-masthead-website-search-link" href="//library.duke.edu/find/website?Ntt=" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Top Links', eventLabel: 'Website Search'});">Search our Site</a></div>
      <div id="dul-masthead-region-megamenu" style="display: none;">
        <nav role="navigation">
          <div class="dul-masthead-megamenu_container">
            <!-- Begin Menu Container -->
            <ul class="dul-masthead-megamenu">
              <!-- Begin Mega Menu -->
              <li class="dul-masthead-megamenu_button" style="display: none;"><a class="dul-masthead-btn dul-masthead-dropdown-toggle" href="#_">Menu <span></span></a></li>
              <li class="dul-masthead-mega_toplevel"><a href="//library.duke.edu/find" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Find Menu', eventLabel: 'Search Find Portal'});">Search &amp; Find</a></li>
              <li class="dul-masthead-mega_toplevel"><a href="//library.duke.edu/using" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Using Menu', eventLabel: 'Using the Library Portal'});">Using the Library</a></li>
              <li class="dul-masthead-mega_toplevel"><a href="//library.duke.edu/research" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Research Menu', eventLabel: 'Research Support Portal'});">Research Support</a></li>
              <li class="dul-masthead-mega_toplevel"><a href="//library.duke.edu/course-support" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Course Menu', eventLabel: 'Course Support Portal'});">Course Support</a></li>
              <li class="dul-masthead-mega_toplevel"><a href="//library.duke.edu/libraries" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'Libraries Menu', eventLabel: 'Libraries Portal'});">Libraries</a></li>
              <li class="dul-masthead-mega_toplevel"><a href="//library.duke.edu/about" onclick="ga('send', 'event', { eventCategory: 'Masthead', eventAction: 'About Menu', eventLabel: 'About Portal'});">About</a></li>
            </ul>
            <!-- End Mega Menu -->
          </div>
          <!-- End Menu Container -->
        </nav>
      </div>
    </div>
  </div>
</div>

