<div id="announcement" role="complementary">

  <div class="feedback-wrapper">

    <%= link_to t('dul_arclight.feedback.title'), "#{t('dul_arclight.feedback.link')}?arclightURL=#{request.original_url}", class: "btn btn-sm btn-primary", target: "_blank" %>

  </div>

</div>
