<%# Copied from ArcLight core in order to customize locally %>
<%# Last checked for updates:      %>
<%# ArcLight v0.3.2. %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/shared/_header_navbar.html.erb #%>

<m-universal-header></m-universal-header>
<m-website-header name="Finding Aids" variant="dark">
  <div class="header-utilities d-flex">
    <div id="search-col">
          <%= render_search_bar unless homepage? %>
        </div>
<!--    <a href="/">Log in</a>-->
  </div>
</m-website-header>

