<div id="announcement" role="complementary">

  <div class="report-a-problem-wrapper">

    <%= link_to t('dul_arclight.report_a_problem.title'), t('dul_arclight.report_a_problem.link'), class: "btn btn-sm btn-primary", target: "_blank" %>

  </div>

</div>
