<section class="mt-3 reasonable-height">
  <h1>
    <span class="badge badge-warning">404</span>
    Page not found
  </h1>

  <p class="fs-4 mt-3">
    Apologies, we cannot aid you in finding what you're looking for.
    This can sometimes happen when:
  </p>

  <ul>
    <li>The finding aid has been restructured</li>
    <li>The page no longer exists</li>
    <li>There's a slight typo in the web address</li>
    <li>The web address wasn't copied fully</li>
  </ul>

  <p>
    If you know what the page was supposed to be about, 
    you can try <a data-toggle="modal" data-target="#advanced-search-modal" href="#">searching</a> the Finding Aids for an updated version.
  </p>

  <p>
    You can also visit the <a href="/">Finding Aids Home</a>.
  </p>

</section>
