<%# Overrides ArcLight Core partial. %>
<%# We'll essentially use the same index partial for grouped view & all results view %>
<%# for ease of maintenance. For now, minor differences (e.g., suppressing breadcrumb %>
<%# links) can be addressed via CSS. %>
<%# Last checked for updates: ArcLight v0.3.2. %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_arclight_index_group_document_default.html.erb %>

<article class="document">
  <% breadcrumbs = parents_to_links(document) %>
  <div class="documentHeader row">
    <div class="col-auto">
      <%= blacklight_icon document_or_parent_icon(document) %>
    </div>
    <div class="col col-no-left-padding">
      <h4>
        <%= link_to_document document, document_show_link_field(document), counter: document_counter %>
      </h4>
      <div class='breadcrumb-links media'>
        <% unless breadcrumbs.nil? %>
          <span class="media-body" aria-hidden="true"><%= blacklight_icon :folder, classes: 'al-folder-icon' %></span>
          <span class="col" ><%= parents_to_links(document) %></span>
        <% end %>
    </div>
  </div>
</article>
