<%# TEMPORARY HOME CONTENT %>
<ul class="mt-5">
  <li>
    <%= link_to t('arclight.routes.repositories'), arclight_engine.repositories_path %>
  </li>
  <li>
    <%= link_to t('arclight.routes.collections'), arclight_engine.collections_path %>
  </li>
</ul>
