<%# Copied from ArcLight Core for DUL customization. 
<%# Modified to use a custom DUL compact breadcrumb, appended with the word "In:" %>
<%# See: %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_index_breadcrumb_default.html.erb %>
<%# Last checked for updates: ArcLight v0.3.2. %>

<div class="row">
  <div class='breadcrumb-links media'>
  	<span class="media-body ml-3" aria-hidden="true"><%= blacklight_icon :repository, classes: 'al-repository-content-icon' %></span>
    <span class="col ml-2 pl-0" ><%= parents_to_links(document) %></span>
  </div>
</div>
