<%# Copied from ArcLight Core for DUL customization. 
<%# Modified to use a custom DUL compact breadcrumb, appended with the word "In:" %>
<%# See: %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_index_breadcrumb_default.html.erb %>
<%# Last checked for updates: ArcLight v0.3.2. %>

<div class="breadcrumb-links media">
  <span class="col">
    <% if document.component_level.to_i > 1 %>In: <% end%>
    <%= dul_compact_breadcrumbs(document) %>
  </span>
</div>
