<%# Advanced search link and bookmarks button %>

<div class="search-extra-controls flex-fill">
  <div class='needs-changed input-group'>

    <%= link_to t('dul_arclight.advanced_search.title'), '#',
      data: {
        toggle: "modal",
        target: "#advanced-search-modal" },
      class: 'advanced_search' %>

    <%= link_to bookmarks_path, id:'bookmarks_nav' do %>
      <i class="fas fa-bookmark"></i> <span class="bookmarks-label"><%= t('blacklight.header_links.bookmarks') %></span>
      <span class="open-paren">(</span><span data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span><span class="close-paren">)</span>
    <% end %>

  </div>
</div>
