<%# This Back to Top link must be keyboard focusable but not when %>
<%# in the mobile side-drawer display at narrower viewports. %>

<div class="d-none d-lg-block">
  <%= link_to t('blacklight.skip_links.back_to_top'),
              '#skip-link',
              class: 'element-invisible element-focusable rounded-bottom  mt-2 mb-2 py-2 px-3',
              data: { turbolinks: 'false' } %>
</div>