<%# DUL custom partial to render a close button for the fly-in side drawer mobile sidebar %>

<button type="button" id="sidebar-close" class="close d-lg-none" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
