<%# A reusable Using These Materials header; it renders as the heading for a few %>
<%# different sections (collection-level snippet, collection- & component-level terms)%>
<h2 class='al-show-sub-heading'>
  <%= t("arclight.views.show.sections.using_field") %>
</h2>
<p>
  <ul class="list-unstyled using-resources">
    <li>
      <a href="https://library.duke.edu/rubenstein/about/visit" target="_blank">Info for Visitors</a>
    </li>
    <li>
      <a href="https://library.duke.edu/rubenstein/research/requesting-material" target="_blank">How to Request</a>
    </li>
    <li>
      <a href="https://library.duke.edu/rubenstein/research/citations-and-permissions" target="_blank">Citations, Permissions, & Copyright</a>
    </li>
  </ul>
</p>

<hr/>
