<%# A reusable Using These Materials header; it renders as the heading for a few %>
<%# different sections (collection-level snippet, collection- & component-level terms)%>
<h2 class='al-show-sub-heading'>
  <%= t("arclight.views.show.sections.using_field") %>
</h2>
<p>
  <%= link_to 'Info for Visitors', repository_about_path(@document.repository_config.slug) %>
</p>
<p>
  <% if @document.repository_config.how_to_request %>
    <%= link_to 'How to Request', repository_about_path(@document.repository_config.slug, anchor: 'requesting') %>
  <% end %>
</p>
<p>
  <% if @document.repository_config.how_to_order %>
    <%= link_to 'Ordering Reproductions', repository_about_path(@document.repository_config.slug, anchor: 'ordering') %>
<% end %>
</p>

<hr/>
