name: Build unstable image
description: "Builds an image from any branch and push/tags it in the `-unstable` repository with only the commit hash"

on:
  workflow_dispatch:  # This allows to kick-off the action manually from GitHub Actions

jobs:
  build-unstable:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: 'ghcr.io/mlibrary/umich-arclight/umich-arclight-unstable:${{ github.sha }}'
          file: .docker/Dockerfile.testing
